<div class="body">
    <div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<% if @post_book.errors.any? %>
				  <div id="error_explanation">
				    <h2><%= @post_book.errors.count %>errors prohibited this obj from being saved: </h2>
				    <ul>
				    <% @post_book.errors.full_messages.each do |msg| %>
				      <li><%= msg %></li>
				    <% end %>
				    </ul>
				  </div>
				<% end %>

				<h1>Editing Book</h1>
<%= form_for(@post_book) do |f| %>
          <div class="field">
            <%= f.label :title %>
                <%= f.text_field :title, class: "col-xs-12" %>
          </div>
          <div class="field">
              <%= f.label :body %>
                  <%= f.text_field :body, class: "col-xs-12 opinion_field"%>
          </div>

          <div class="action">
          <%= f.submit 'Update Book', class: "btn btn-primary col-xs-12" %>
          </div>
        <% end %>
          <div class="under-row">
        <%= link_to 'show', book_path(@post_book) %> | <a href="/books">back</a>
          </div>
			</div>


		</div>
	</div>
</div>
